body{
	margin: 0px;
	font-family: sans-serif;
}

html{
	background: url("thumbnails/bgg.jpeg") no-repeat fixed;
	background-size: cover;
}
.container{
	background-color: rgba(0, 0, 0, .8);
	height: 500px;
	width: 400px;
	position: relative;
	top: 130px;
	margin: auto;
	border-radius: 10px;
}
#logo{
	text-align: center;
}
#logo img{
	position: relative;
	top: 20px;
	height: 80px;
}
#content{
	width: 300px;
	margin-left: 60px;
}
#content h3{
	font-size: 30px;
	color: white;
}
#content h3,#p1,#p2{
	color: white;
}
#content #p1{
	font-size: 18px;
}
#content #p2{
	font-size: 14px;
}
#content button{
	border: none;
	padding: 10px 20px 10px 20px;
	background-color: #ff5454;
	color: white;
	border-radius: 5px;
	font-size: 25px;
}
#content button:hover{
	cursor: pointer;
	background-color: #ff3030;
}